{% extends 'views/layouts/master.twig' %}

{% block content %}

    <div class="content">
        <div class="title m-b-md">
            Pine
        </div>

        <div class="links">
            <a href="https://www.upstatement.com/timber/">Timber Upstatement</a>
            <a href="http://timber.github.io/timber/">Timber Docs</a>
            <a href="https://twig.sensiolabs.org/doc/2.x/">Twig</a>
        </div>
    </div>


{% endblock %}